{% extends 'base.html' %}

{% block title %}
Добавление маршрута
{% endblock %}

{% block main %}
<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title"><b>Название маршрута</b></label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="form-group">
        <label for="files"><b>Фотографии маршрута</b></label>
        <input type="file" id="files" name="files" multiple>
    </div>
    <div class="form-group">
        <label for="description"><b>Описание маршрута</b></label>
        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="public">Публичный</label>
        <input type="checkbox" id="public" name="public">
        <label for="private">Приватный</label>
        <input type="checkbox" id="private" name="private">
    </div>
    <br>
    <div class="form-group">
        <input type="hidden" id="routeCoordinates" name="routeCoordinates">
    </div>
    <br>
    <button type="submit" class="btn btn-success" style="position: absolute;top: 1050px;left: 280px;">Добавить маршрут</button>
</form>
<div id="map" style="width: 800px; height: 600px"></div>
<br>
        <div id="pointsList"></div>
        <button id="myButton" class="btn btn-success">Построить маршрут</button>
        <button id="myButton2" class="btn btn-danger">Очистить маршрут</button>
        <button id="import" class="btn btn-warning">Импортировать</button>
        <input type="text" id="url" name="url">
        <button id="q" style="width: 30px; height: 30px;border: none;background-image: url('/static/ico/b.ico');background-size: cover;"></button>
<br>
<br><br>
<script type="module" src="static/js/script.js"></script>
{% endblock %}
