{% extends 'base.html' %}

{% block title %}
Изменение данных
{% endblock %}

{% block main %}
<section class="text-center container">
    <div class="col-lg-6 col-md-8 mx-auto">
        <h1>Изменение данных</h1>
        <form class="needs-validation" method="post" enctype="multipart/form-data">
            <input type="email" name="email" id="email" class="form-control" placeholder="Введите почту"
                   required="" value="{{ user.email }}"><br>
            <input type="text" name="username" id="username" class="form-control" placeholder="Введите логин"
                   required="" value="{{ user.username }}"><br>
            <input type="file" class="form-control" name="file" placeholder="Выберите аватарку" required=""><br>
            <input type="submit" class="btn btn-primary" value="Изменить">
        </form>
    </div>
</section>

{% endblock %}