{% extends 'base.html' %}

{% block title %}
Редактирование маршрута
{% endblock %}



{% block main %}

    <br>
    <h3 id="header-elem">Редактирование маршрута</h3>
    <hr class="my-4">
    <form method="post" enctype="multipart/form-data" id="form">
        <div class="form-group">
        <label for="title">Название маршрута</label>
        <input type="text" class="form-control" id="title" name="title" value="{{ route.title }}" required>
    </div>
    <div class="form-group">
        <label for="description">Описание маршрута</label>
        <textarea class="form-control" id="description" name="description" rows="3">{{ route.description }}</textarea>
    </div>
    <div class="form-group">
        <label for="public">Публичный</label>
        <input type="checkbox" id="public" name="public">
        <label for="private">Приватный</label>
        <input type="checkbox" id="private" name="private">

    </div>
<input type="submit" class="btn btn-primary" value="Отправить">
    </form>


{% endblock %}