{% extends 'base.html' %}

{% block title %}
Маршрут {{route.title}}
{% endblock %}



{% block main %}
<style>
.map {
    padding: 40px 0;
    text-align: center;
}

.container-m {
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    font-size: 35px;
    font-family: 'Arial Narrow Bold', sans-serif;
    margin-bottom: 20px;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>

<br>
<h2>{{route.title}} </h2>

<img src="static/img/photo.png" style="text-align: right;">
<hr class="my-4">
<p style="display: flex;justify-content: flex-end;"><em>Рейтинг: <b>{{ route.rating }}</b></em></p>
<div style="display: flex;justify-content: flex-end;">
<p><em>Отзывы: </em></p>
{% if comments|length > 0 %}
 <ul>
{% for i in range(comments|length) %}
<li>Автор: {{comments[i].text}}</li>
{% endfor %}
 </ul>
{% else %}
<p>Пока нет отзывов</p>
{% endif %}
</div>
<em>Описание: </em>
<p>{{ route.description }}</p>

{% if route.status == 1 %}
<p><em>Статус альбома: <b>Публичный альбом</b></em></p>
{% else %}
<p><em>Статус альбома: <b>Приватный альбом</b></em></p>
{% endif %}

<em>Владелец: </em>

<a href="/profile/{{user.id}}"><em>{{user.username}}</em></a><br>
<br>
<div id="map" style="width: 400px; height: 400px"></div>



<br>

<hr class="my-4">
{% if current_user.is_authenticated %}
<a href="/download_route/{{ route.id }}" class="btn btn-info">Скачать</a>
<a href="/evaluate_route/{{ route.id }}" class="btn btn-warning">Оценить</a>
{% if current_user.id == route.user_id %}
    <a href="/edit_route/{{ route.id }}" class="btn btn-success">Редактировать</a>
    <a href="/delete_route/{{ route.id }}" class="btn btn-danger">Удалить</a>
{% endif %}
{% else %}
<p style="color:red;">Для действий с маршрутом войдите в аккаунт!</p>
{% endif %}



{% endblock %}